<!DOCTYPE html>

<html>

<head>

    <title>Display question</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">

</head>

<body>

    <h1>Question id: {{ id }}</h1>
    <h2>
        {{ title }}
    </h2>
    <h3>
        {{ message }}
    </h3>

    <a href="/" class="button_like_link" >Back to the index page</a>
    
    <br>
    
    <form action="/delete/{{ id }}" method="post">
        <input type="submit" value="Delete question">
    </form>
    <br>
    <hr>
    <br>
    <form action="/question/{{ id }}/new-tag" method="post">
        <input type="submit" value="Add new tag">
    </form>
    <br>
    <h2 style="display: inline;">Tags:</h2>
        {% for row in tag_list %}
            <a href="/delete_tag/{{ id }}?tag_name={{ row[0] }}" class="button_like_link">x </a><p style="background-color: #aac4ef; display: inline; padding: 2px;">{{ row[0] }}</p>
        {% endfor %}
    <br>
    <br>
    <a href="/tags" class="button_like_link">Go to tag page</a>
    <hr>
    <br>
    <form action="/question/{{ id }}/new-comment">
        <input type="submit" value="Add new Comment" id="add_new_comment" name="add_new_comment">
    </form>
        {% if list_comments|length == 0%}
            <p>There are no comments yet</p>
        {% else %}
            <h2>Comments:</h2>
        {% endif %}
        {% set count = [0] %}
        {% for row in list_comments %}
            {%if count.append(count.pop() + 1) %}{% endif %}
            <p>{{ count[0] }}. {{ row[3]}}</p>
            <p>
                Comment date: {{ row[4] }}
            </p>
            <hr>
        {% endfor %}
    <br>
    <hr>
    <br>
    <form action="/question/{{ id }}/new-answer">
        <input type="submit" value="Add new Answer" id="add_new_answer" name="add_new_answer">
    </form>
        {% if list_answers|length == 0%}
            <p>There are no answers yet</p>
        {% else %}
            <h2>Answers:</h2>
        {% endif %}
        {% set count = [0] %}
        {% for row in list_answers %}
            {%if count.append(count.pop() + 1) %}{% endif %}
            <h3>{{ count[0] }}. {{ row[4]}}</h3> 
            <p>Votes: 
                <a href="/vote_answer_up?id={{ row[0] }}"><img src="/static/thumbs_up.png" id="{{ row[0] }}" alt="Vote up" width="20"></a>
                {{ row[2] }}
                <a href="/vote_answer_down?id={{ row[0] }}"><img src="/static/thumbs_down.png" id="{{ row[0] }}" alt="Vote down" width="20"></a>
            </p>
            <p>
                Answer date: {{ row[1] }}
            </p>
            {% if row[5] == None %}
                <td><a href='/add_answer_image/{{row[0]}}'>add image</a></td>
            {% else %}
                <td><a href='/static/uploads/img/{{row[5]}}'><img src='/static/uploads/img/{{row[5]}}' width = 40px></a>
            {% endif %}
            <br>
            <br>
            <form action="/answer/{{ row[0] }}/new-comment">
            <input type="submit" value="Add new Answer Comment" id="add_new_answer_comment" name="add_new_answer_comment">
            </form>         
            {% if list_answer_comments|length == 0%}
                <p>There are no comments yet</p>
            {% else %}
                <p>Comments:</p>
            {% endif %}
            {% set count = [0] %}
            {% for comment in list_answer_comments %}
                {% for comment_row in comment %}
                    {%if count.append(count.pop() + 1) %}{% endif %}
                    <p>{{ count[0] }}. {{ comment_row[3]}}</p>
                    <p>
                        Comment date: {{ comment_row[4] }}
                    </p>
                {% endfor %}
            <hr>
            {% endfor %}
            <hr>
        {% endfor %}     
</body>

</html>