<!DOCTYPE html>

<html>

<head>

    <title>Questions</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>

<body>

    <form action="/search" method="GET">
        <p>
            <label for="search">Search in questions and answers:</label>
        </p>
        <p>
            <textarea id="q" name="q" rows="1" cols='33' required></textarea>
            <input type="submit" value="Search" >
        </p>
    </form>   

    <h1>List of questions</h1>

    <form action="/question/new">
        <input type="submit" value="Add new Question" id="add" name="add_new_question">
    </form>

    <br>
        {% for row in question_list %}
            <h4><a href='/question/{{ row[0] }}'>{{ row[4] }}</a></h4>
            <p>Votes: 
                <a href="/vote_question_up?id={{ row[0] }}"><img src="/static/thumbs_up.png" id="{{ row[0] }}" alt="Vote up" width="20"></a>
                {{ row[3] }}
                <a href="/vote_question_down?id={{ row[0] }}"><img src="/static/thumbs_down.png" id="{{ row[0] }}" alt="Vote down" width="20"></a>
                Views: {{ row[2] }}
            </p>
            <p>
                Question date: {{ row[1] }}
            </p>
            <p>
                {% if row[6] == None %}
                    <td><a href='/add_image/{{row[0]}}'>Add image</td>
                {% else %}
                    <td><a href='static/uploads/img/{{row[6]}}' ><img src='static/uploads/img/{{row[6]}}' width = 40px>
                {% endif %}
                <form action="\delete\{{ row[0] }}" method="post">
                    <input type="submit" value="Delete question">
                </form>
            </p>
            <hr>
        {% endfor %}
        <a href="/list">List all questions</a>
</body>

</html>